<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="no-referrer" />
  <title>Jquery Ajax Test</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>
</head>

<body>
  <h1>Ajax with Jquery</h1>
  <p><input type=text size=5 name=a> +
    <input type=text size=5 name=b> =
    <span id=result></span>
  <p>
  <form action=>
    <button type="submit" href=# id=calculate>calculate server side</button>
  </form>

  <input type="text" name="member">
  <span id="member_result"></span>
  <button type="submit" id="find_member">submit</button>

  <button class="btn btn-success">Go!</button>
  <button id="delete">delete</button>
  <ul class="left_list"></ul>
  <ul class="right-list"></ul>
  <!-- <img src="https://i.imgur.com/O0PRcv7.jpg"> -->
</body>

</html>